/********** Tag selectors *************/

body {
  background-color: #c0ffb3;
}

p {
  font-family: "courier new", courier, monospace;
}

/* img {
  align-content: center;
  width: 600px;
  margin-left: 500px;
}
*/

/************* class selectors **********/
.potato{
  align-content: center;
  width: 600px;
  margin-left: 15%;
}

.fame
{
  margin-top: 50px;
}

